body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0; /*убрали отступы*/
    background: radial-gradient(circle,rgba(63, 94, 251, 1) 0%, rgba(252, 70, 107, 1) 100%);

}
.icon-button {
    padding: 20px 40px;
    font-size: 24px;
    border: none;
    border-radius: 50px;
    background: linear-gradient(90deg,rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 35%, rgba(0, 212, 255, 1) 100%);
    color: black;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0 5px 15px rgba(2, 0, 36, 1);
}
.icon-button:hover {
    transform: translateY(-5px);
    background: radial-gradient(circle,rgba(238, 174, 202, 1) 0%, rgba(148, 187, 233, 1) 100%);

}
.icon-button:active {
    transform: translateY(2px);
}
