body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0 ;
    background: radial-gradient(circle,rgba(237, 111, 233, 1) 0%, rgba(138, 235, 235, 1) 100%);
   
}
.magic-button {
    padding: 40px 40px;
    font-size: 35px;
    border-radius: 70px;
    cursor: pointer;
    background: radial-gradient(circle,rgba(150, 5, 146, 1) 0%, rgba(11, 163, 163, 1) 100%);
    color: azure;
    box-shadow: 0 5px 15px rgba(150, 5, 146, 1);
}
.magic-button:hover {
    transform: translateY(-2px);
}
.magic-button:active {
    transform: translateY(1px); /*опустила кнопку*/
}